# Dependency directories
node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
.vercel

# SQLite database local files
*.sqlite
*.sqlite-journal

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
